.claim-list-card
  width 100%
  border-left-style solid
  border-left-width 16px
  margin 5px
  font-size .8em
.claim-list-card-t1
  border-left-color $green-8
.claim-list-card-t2
  border-left-color $yellow-6
.claim-list-card-t3
  border-left-color $red-6
.claim-list-active
  background-color $primary-3
@media (max-width: 400px)
  .claim-option-select
    min-width 250px
@media (min-width: 401px) and (max-width: 500px)
  .claim-option-select
    min-width 300px
@media (min-width: 501px) and (max-width: 767px)
  .claim-option-select
    min-width 400px
@media (min-width: 768px) and (max-width: 992px)
  .claim-option-select
    min-width 300px
@media (min-width: 993px) and (max-width: 1100px)
  .claim-option-select
    min-width 250px
@media (min-width: 1100px) and (max-width: 1200px)
  .claim-option-select
    min-width 300px
@media (min-width: 1200px)
  .claim-option-select
    min-width 350px
.claim-pages-wrapper
  height 40px
.claim-list-body
  height calc(100vh - 90px)
