@import '../components/styles.styl'
@import './afs-icons.styl'

.text-mand-color
  color $mand-color
.text-primary-9
  color $primary-9
.text-primary-8
  color $primary-8
.text-primary-7
  color $primary-7
.text-primary-6
  color $primary-6
.text-primary-5
  color $primary-5
.text-primary-4
  color $primary-4
.text-primary-3
  color $primary-3
.text-primary-2
  color $primary-2
.text-primary-1
  color $primary-1
.bg-primary-9
  background $primary-9
.bg-primary-8
  background $primary-8
.bg-primary-7
  background $primary-7
.bg-primary-6
  background $primary-6
.bg-primary-5
  background $primary-5
.bg-primary-4
  background $primary-4
.bg-primary-3
  background $primary-3
.bg-primary-2
  background $primary-2
.bg-primary-1
  background $primary-1
.bg-mand-color
  background $mand-color

.q-tab
  &.active
    background-color $primary-9
    color $dark
.q-tab-pane
  background-color $primary-9
@media (max-width: 991px)
  .q-dot
    top 5px
    right 1px
.content-selectable
  user-select text !important
.underline
  text-decoration: underline
.inline
  display inline
.ul-20
  padding-left 20px
.fixed-ta-content
  font-family monospace, monospace
  font-size .8em

for i in (1..9)
  .ts-{i}
    font-size (1em*i/10)
