.claim-list-card
  width 100%
  border-left-style solid
  border-left-width 16px
  margin 5px
  font-size .8em
.claim-list-card-t1
  border-left-color $green-8
.claim-list-card-t2
  border-left-color $yellow-6
.claim-list-card-t3
  border-left-color $red-6
.claim-list-active
  background-color $primary-3
@media (max-width: 340px)
  .claim-option-select
    min-width 220px
@media (min-width: 341px) and (max-width: 400px)
  .claim-option-select
    min-width 250px
@media (min-width: 401px) and (max-width: 500px)
  .claim-option-select
    min-width 300px
@media (min-width: 501px) and (max-width: 767px)
  .claim-option-select
    min-width 400px
@media (min-width: 768px) and (max-width: 992px)
  .claim-option-select
    min-width 300px
@media (min-width: 993px) and (max-width: 1100px)
  .claim-option-select
    min-width 250px
@media (min-width: 1100px) and (max-width: 1200px)
  .claim-option-select
    min-width 300px
@media (min-width: 1200px)
  .claim-option-select
    min-width 350px
.claim-pages-wrapper
  height 40px
.claim-list-body
  height calc(100vh - 90px)
.claim-row-priority-corner
  border-color transparent
  border-style solid
  border-width 1.0em
  border-right-color $red
  border-top-color $red
.claim-row-priority-1
  border-right-color $red
  border-top-color $red
.claim-row-priority
  position absolute
  top 6px
  right 8px
  font-size 12px
  font-weight 400
.claim-list-attach
  position absolute
  bottom 10px
  right 8px
  font-size 16px
  transform scaleX(-1)

$priorColors = $green-5,
               $green-6,
               $green-7,
               $amber-7,
               $amber-8,
               $amber-9,
               $red-7,
               $red-8,
               $red-9,
               $red-10

for i in (1..10)
  .claim-row-priority-{i}
    border-right-color $priorColors[(i)]
    border-top-color $priorColors[(i)]

$tStatusBg = $light,
             $orange,
             $indigo,
             $green,
             $red

$tStatusFg = white,
             white,
             white,
             white,
             white

for i in (0..4)
  .claim-row-tstatus-{i}
    background-color $tStatusBg[(i)]
    color $tStatusFg[(i)]
    // color contrast($tStatusBg[(i)], $black).ratio
    //.ratio > contrast($tStatusBg[(i)], #FFF).ratio ? #000 : #FFF

.first-three-line
  line-height 1em
  max-height 3em
  overflow-y hidden
  margin-bottom 0
  color $tertiary
  font-style oblique
