@import '~variables'

.form-header
  background-color $primary
  padding 5px
  color $white
  border-bottom $white solid 1px
  .title
    opacity .9
.form-footer
  background-color $primary
  padding 5px
  color $white
  border-top $white solid 1px
